<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>trongnt.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>trongnt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>trongnt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllUserController</servlet-name>
        <servlet-class>trongnt.controller.LoadAllUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>trongnt.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>trongnt.controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>trongnt.controller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubController</servlet-name>
        <servlet-class>trongnt.controller.LoadSubController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminController</servlet-name>
        <servlet-class>trongnt.controller.LoadAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserController</servlet-name>
        <servlet-class>trongnt.controller.LoadUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteController</servlet-name>
        <servlet-class>trongnt.controller.UserDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>trongnt.controller.UserUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>trongnt.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToPromotionController</servlet-name>
        <servlet-class>trongnt.controller.AddToPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>trongnt.controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>trongnt.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveListController</servlet-name>
        <servlet-class>trongnt.controller.SaveListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>trongnt.controller.HistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllUserController</servlet-name>
        <url-pattern>/LoadAllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubController</servlet-name>
        <url-pattern>/LoadSubController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminController</servlet-name>
        <url-pattern>/LoadAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserController</servlet-name>
        <url-pattern>/LoadUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/UserDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/UserUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToPromotionController</servlet-name>
        <url-pattern>/AddToPromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveListController</servlet-name>
        <url-pattern>/SaveListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBConn</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
